<kt-portlet>
  <kt-portlet-header [class]="'kt-portlet__head--lg'" style="padding: 0">
    <ng-container ktPortletTitle>
      <h5 class="kt-portlet__head-title">
        <span *ngIf="!isReviewPage">Specific Content Localization History</span>
        <span *ngIf="isReviewPage">Reviewer History</span>

      </h5>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="mat-table__wrapper">
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Initiated By</th>
          <td mat-cell *matCellDef="let element">{{ element.email || "-" }}</td>
        </ng-container>
        <ng-container matColumnDef="sourceLocale" *ngIf="!isReviewPage">
          <th mat-header-cell *matHeaderCellDef>Source Locale</th>
          <td mat-cell *matCellDef="let element">  {{ element.data?.locale ? element.data?.locale : (element.data?.content?.length > 0 ? element.data.content[0].locale : "-") }}</td>
        </ng-container>
        <ng-container matColumnDef="destLocale">
          <th mat-header-cell *matHeaderCellDef>Dest Locale</th>
          <td mat-cell *matCellDef="let element">
            {{ element.data.destLocale || "-" }}
          </td>
        </ng-container>

  
  
      
        <ng-container matColumnDef="error">
          <th mat-header-cell *matHeaderCellDef>Error</th>
          <td mat-cell *matCellDef="let element">
            {{ element.data.message || "N/A" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            {{ element.action || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="entries">
          <th mat-header-cell *matHeaderCellDef>Entries</th>
          <td mat-cell *matCellDef="let element">
            <a
              mat-button
              color="primary"
              (click)="toggleErrorExpand(element)"
              matTooltip="Click to view entries processed"
            >
              View Entries
            </a>
          </td>
        </ng-container>

      

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Initiated At</th>
          <td mat-cell *matCellDef="let element">
            {{ formatDateTime(element.createdAt) }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <label
              #statusEle
              style="white-space: unset"
              class="text-white badge badge-pill"
              [ngClass]="
                element.data.status === 'failed'
                  ? 'badge-danger'
                  : 'badge-success'
              "
            >
              {{ element.data.status }}
            </label>
          </td>
        </ng-container>

        <!-- Expanded Content Column to view error data in table manner -->
        <ng-container matColumnDef="expandedErrorDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedTableColumns.length"
          >
            <div
              class="example-element-error"
              [@detailExpand]="
                element == expandedErrorElement ? 'expanded' : 'collapsed'
              "
            >
              <div *ngIf="element.data.content && element.module!=='AI Approve Message'" class="table-wrapper">
                <table>
                  <thead>
                    <th>Entry Id</th>
                    <th>Entry Key</th>
                    <th>Source Locale Value</th>
                    <th>Translated Value</th>
                    <th *ngIf="isReviewPage">Replaced Value </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of element.data.content">
                      <td>{{ x.entryId }}</td>
                      <td>{{ x.key }}</td>
                      <td><div style = "width: 300px; word-break: break-all;" class="text-wrap" [innerHTML]="x.value "></div></td>
                      <td *ngIf="!isReviewPage"><div style = "width: 300px; word-break: break-all;" class="text-wrap" [innerHTML]="x.translatedValue "></div></td>
                      <td *ngIf="isReviewPage"><div style = "width: 300px; word-break: break-all;" class="text-wrap" [innerHTML]="x.translateValue "></div></td>
                      <td *ngIf="isReviewPage"><div style = "width: 300px; word-break: break-all;" class="text-wrap" [innerHTML]="x.replaceValue "></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div *ngIf="element.module==='AI Approve Message'">
                <table>
                  <thead>
                    <th>Initial value</th>
                    <th>Replace value</th>
                    <th>Conversation ID</th>
                    
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of element.data.content">
                      <td><div class="text-wrap" [innerHTML]="x.initialValue "></div></td>
                      <td><div class="text-wrap" [innerHTML]="x.replaceValue "></div></td>
                      <td><div class="text-wrap" [innerHTML]="x.conversationId "></div></td>
                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedTableColumns"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedTableColumns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedErrorDetail']"
          class="example-detail-row"
        ></tr>
      </table>
      <!-- Message for empty data  -->
      <div class="mat-table__message" [hidden]="!noPageData">No records found</div>
      <mat-paginator
        #paginator
        [hidden]="isPageLoading"
        [hidden]="noPageData"
        [hidePageSize]="true"
        [length]="totalCount"
        [pageSizeOptions]="[50]"
        [showFirstLastButtons]="false"
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </kt-portlet-body>
</kt-portlet>
