<div class="mat-elevation-z0">
  <ng-container *ngIf="dataSource?.data?.length > 0">
  <table mat-table [dataSource]="dataSource"
   multiTemplateDataRows class="mat-elevation-z8" >

    

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Label</th>
      <td mat-cell *matCellDef="let element">
        <p style="width:200px;word-break: break-all;">{{ element.label }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="initialValue">
      <th mat-header-cell *matHeaderCellDef>Initial Value</th>
      
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="expandedRows.has(element.id); else truncatedContent">
          <div [innerHTML]="element.initialValue" class="expanded-content"></div>
        </ng-container>
      
        <ng-template #truncatedContent>
          <div class="truncated-content" [innerHTML]="element.initialValue | slice:0:300"></div>
          <button *ngIf="element.initialValue.length > 300 && !expandedRows.has(element.id)" (click)="toggleExpansion(element.id)">
            Read More...
          </button>
        </ng-template>
      
        <button *ngIf="expandedRows.has(element.id)" (click)="toggleExpansion(element.id)">
          Read Less...
        </button>
      </td>
      
    </ng-container>
    <ng-container matColumnDef="replaceValue">
      <th mat-header-cell *matHeaderCellDef>Replace Value</th>
      <td mat-cell *matCellDef="let element">
        <textarea
                    matInput type="text"
                    #replaceValue
                    [(ngModel)]="element.replaceValue"
                    (input)="updateValue( $event, element)"
                    rows="2"
                   style="width:200px;word-break: break-all;"
                   placeholder="Enter Value"
                  >
             
                </textarea>
                <button (click)="clearSearchInput(element)" [hidden]="!element.replaceValue" mat-button matSuffix mat-icon-button
                aria-label="Clear">
                <mat-icon>close</mat-icon>
                </button>

      </td>
    </ng-container>


    <ng-container matColumnDef="action" >
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button 
        type="button" 
        mat-raised-button 
        color="primary"
        (click)="updateEntry(element)"
        [disabled]="isLoading || !element.replaceValue"
        matTooltip="Update Content" 
        tabindex="5">
        Update
    </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"   [class.example-expanded-row]="fieldExpand === element">
    </tr>
 
    
 
    
  </table>
  <mat-paginator showFirstLastButtons
  [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 50, 100]"  [length]="totalCount" [pageIndex]="pageIndex"
  (page)="onPageChanged($event)">
</mat-paginator>
</ng-container>
<ng-container *ngIf="dataSource?.data?.length === 0">
  <div class="no-records-container">
    <p>No records found</p>
  </div>
</ng-container>

</div>
